.form {
  width: 700px;
}

#ip1 {
  background-color: #fffffe;
  border: none;
  border-radius: 25px;
}

input:focus, textarea {
  outline: none;
}

.button {
  background-color: #fffffe;
  border: none;
  margin-left: 1rem;
  border-radius: 25px;
}

.button:hover {
  background-color: #eebbc3 ;
  transition: 0.7s;
}